<div class="node-histogram-header">
  <div class="mask-controls">
    <div>
      Mask values
    </div>
    <div class="histogram-checkboxes">
      <label class="checkbox dark" ng-class="{active: $ctrl.minChecked}">
        <input type="checkbox" ng-model="$ctrl.minChecked" ng-disabled="$ctrl.options.discrete" />Min
      </label>
      <label class="checkbox dark" ng-class="{active: $ctrl.maxChecked}">
        <input type="checkbox" ng-model="$ctrl.maxChecked" ng-disabled="$ctrl.options.discrete" />Max
      </label>
      <label class="checkbox dark" ng-class="{active: $ctrl.options.discrete}">
        <input type="checkbox" ng-model="$ctrl.options.discrete" />Disc
      </label>
    </div>
  </div>
  <div class="gradient"></div>
</div>

<div class="graph-container">
  <nvd3 options="$ctrl.histOptions" data="$ctrl.plot" api="$ctrl.api"></nvd3>
  <rf-histogram-breakpoint
    ng-repeat="bp in $ctrl._breakpoints track by bp.key"
    ng-mouseover="$ctrl.lastMouseOver = bp.key"
    ng-class="{'active': $ctrl.lastMouseOver === bp.key}"
    data-color="bp.breakpoint.color"
    data-breakpoint="bp.breakpoint.value"
    data-range="{min: $ctrl.options.min, max: $ctrl.options.max}"
    data-precision="0"
    data-options="{style: bp.breakpoint.style, alwaysShowNumbers: bp.breakpoint.alwaysShowNumbers}"
    on-color-change="$ctrl.onColorChange(bp, color)"
    on-breakpoint-change="$ctrl.onChange(bp.breakpoint, breakpoint)"
  ></rf-histogram-breakpoint>
</div>
